.App {
  text-align: center;
}

.wrapper {
  background-color: #2172c5;
  height: 1000px;
}

.content-wrapper {
	background-color: #FCFCFC;
}

.loginForm {
  background-color: #FAFAFA;
  padding: 10px;
  text-align: left;
}

.btn {
  color: #FF7E67;
  border-color: #FF7E67;
}

#editor { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
  width: 700px;
}