.App {
  text-align: center;
}

.wrapper {
  background-color: #07689F;
  height: 1000px;
}

.loginForm {
  background-color: #FAFAFA;
  padding: 10px;
  text-align: left;
}

.btn {
  color: #FF7E67;
  border-color: #FF7E67;
}