body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background-color: #fcfcfc;
  height: 1000px;
}

.content-wrapper {
	background-color: #FCFCFC;
}

.loginForm {
  background-color: #FAFAFA;
  padding: 10px;
  text-align: left;
}

#editor { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
  width: 700px;
}

.recruiterCheck {
  margin-left: 5px;
  margin-bottom: 15px;
}