.content-wrapper {
	background-color: #FCFCFC;
}

.nav-text {
	color: #ffffff !important;
	margin: 5px;
}

.logo {
	margin-right: 20px !important;
	font-size: 25px !important;
}

.dashboard-wrapper {
	margin-top: 65px;
}