.welcome-wrapper {
	background: url("./connections.jpg");
	background-repeat: no-repeat;
	display: block;
	background-size: auto 200%;
	background-size: cover;
}

.welcome-head {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	text-align: center;
	font-weight: bold;
}