.wrapper {
  background-color: #2172c5;
  height: 1000px;
}

.content-wrapper {
	background-color: #FCFCFC;
}


.loginForm {
  background-color: #FAFAFA;
  position: relative;
  left: 25%;
  padding-bottom: 20px;
  margin-top: 5%;
}

.btn {
  color: #FF7E67;
  border-color: #FF7E67;
}