.wrapper {
  background-color: #2172c5;
  height: 1000px;
}

.loginBackground {
  background-image: url("http://images.all-free-download.com/images/graphiclarge/seamless_network_background_312309.jpg");
  background-size: cover;
}

.content-wrapper {
	background-color: #FCFCFC;
}

.submitBtn {
  margin: 0 auto;
}


.loginForm {
  background-color: #FAFAFA;
  position: relative;
  left: 25%;
  padding-bottom: 20px;
  margin-top: 5%;
}

.btn {
  color: #FF7E67;
  border-color: #FF7E67;
}

.loginBtn {
  width: 10%;
  height: 100%;
}



input[type="checkbox"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}