.wrapper {
  background-color: #2172c5;
  height: 1000px;
}

.loginBackground {
  background-image: url("network-img.png");
  background-size: cover;
}

.content-wrapper {
	background-color: #FCFCFC;
}

.submitBtn {
  margin: 0 auto;
}

.login-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 56px;
  margin-bottom: -5px;
  text-align: center;
  font-weight: bold;
}

.login-subtitle {
  margin-top: 10px;
  font-family: 'Bangers', cursive;
  font-size: 40px;
}

.login-text {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
  
}

.login-logo {
  height: 150px;
}

.loginForm {
  background-color: #FAFAFA;
  position: relative;
  left: 25%;
  padding-bottom: 20px;
  margin-top: 5%;
  opacity: .75;
  box-shadow: 0 4px 8px 0 #FAFAFA, 0 6px 20px 0 #FAFAFA;
}

.btn {
  color: #FF7E67;
  border-color: #FF7E67;
}

.loginBtn {
  background-color: hsl(145, 62%, 68%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: linear-gradient(#cdf3dd, #7adfa4);
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  text-align: center;
  width: 125px;
  height: 35px;
  margin: 10px;
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
}

.declineBtn {
  background-color: #FF7E67 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#FF7E67");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#FF7E67));
  background-image: -moz-linear-gradient(top, #cdf3dd, #FF7E67);
  background-image: -ms-linear-gradient(top, #cdf3dd, #FF7E67);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #FF7E67));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #FF7E67);
  background-image: -o-linear-gradient(top, #cdf3dd, #FF7E67);
  background-image: linear-gradient(#cdf3dd, #FF7E67);
  border-color: #FF7E67 #FF7E67 hsl(145, 62%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  text-align: center;
  width: 125px;
  height: 35px;
  margin: 10px;
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
}



input[type="checkbox"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}